{% extends 'base_site/course_base.html' %}


<!-- 'Cname','Cduration','degree_level','department','seats' -->
{% load static %}
    
{% block inner_content %}
<div class="mt-5">
    
    <div class="row">
        <div class="col-8 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
            <a href="{% url 'course_syllabus' course.Cid %}" class="btn btn-outline-info btn-sm mb-2">
                Back to syllabus
            </a>

            {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
            {% endfor %}
            
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
                
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    
                    
                    {% if field.name == 'part' %}
                        
                        {% if course.semester %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{field}}
                            
                            {% for error in field.errors %}
                                <span class="text-danger">{{error}}</span>
                            {% endfor %}
                                
                        </div>
                        {% endif %}
                            
                    {% else %}
                    <div class="form-group">
                        {{field.label_tag}}
                        {{field}}
                        
                        {% for error in field.errors %}
                            <span class="text-danger">{{error}}</span>
                        {% endfor %}
                            
                    </div>
                    {% endif %}
                
                {% endfor %}
                <button type="submit" class="btn btn-primary">Add Subject</button>
                
                {% for field in form %}
                
                {% endfor %}
                    
                    
            </form>
        </div>
    </div>
</div>
{% endblock inner_content %}
{% block script %}
  <script src="{% static 'js/course.js' %}"></script>
{% endblock script %}
    