{% extends 'base_site/course_base.html' %}

{% load course %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_head %}
    

{% block inner_content %}
<div id="wrapper_div">
    <div class=" border p-2 mt-2">
        <span class="text-capitalize" style="font-size: 25px;">{{course.Cname}} syllabus</span>

        <a href="{% url 'add_subject' course.Cid %}" class="btn btn-outline-info btn-sm float-right">Add Subject</a>
    </div>



    <div class="row mt-2">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body" id="card_body">
                    {% for cs in course|get_semester_syllabus %}

                    {% if cs.items %}
                    <h5 class="text-capitalize mb-0">{{cs.semester|get_level_string}} semester</h5>



                    <table class="table table-hover ml-3">
                        {% for item in cs.items %}
                        <tr>

                            <td>
                                <span>{{forloop.counter}}.</span>
                                <a href="">{{item.subject}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>




                    {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>



    </div>
</div>
{% endblock inner_content %}