{% extends 'base_site/teacher_base.html' %}


<!-- ('first_name','last_name','email','address','birth_date','gender','phone_no','salary','degree','avatar') -->


{% block inner_content %}
<div class="mt-5">
    <div class="row">
        <div class="col-10 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
            
            {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
            {% endfor %}
                
            <form action="{% url 'add_teacher' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.first_name.label_tag}}
                            {{teacher_form.first_name}}
                            
                            {% for error in teacher_form.first_name.errors %}
                                <span class="text-danger">
                                    {{error}}
                                </span>
                            {% endfor %}
                                
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.last_name.label_tag}}
                            {{teacher_form.last_name}}
                            {% for error in teacher_form.last_name.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.email.label_tag}}
                            {{teacher_form.email}}
                            {% for error in teacher_form.email.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.avatar.label_tag}}
                            {{teacher_form.avatar}}
                            {% for error in teacher_form.avatar.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.birth_date.label_tag}}
                            {{teacher_form.birth_date}}
                            {% for error in teacher_form.birth_date.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.gender.label_tag}}
                            {{teacher_form.gender}}
                            {% for error in teacher_form.gender.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.salary.label_tag}}
                            {{teacher_form.salary}}
                            {% for error in teacher_form.salary.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.degree.label_tag}}
                            {{teacher_form.degree}}
                            {% for error in teacher_form.degree.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.address.label_tag}}
                            {{teacher_form.address}}
                            {% for error in teacher_form.address.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{teacher_form.phone_no.label_tag}}
                            {{teacher_form.phone_no}}
                            {% for error in teacher_form.phone_no.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
                <p>Register In Course</p>
                <div class="form-group">
                    {{teacher_registration_course_form.course.label_tag}}
                    {{teacher_registration_course_form.course}}
                    {% for error in teacher_registration_course_form.course.errors %}
                            <span class="text-danger">
                                {{error}}
                            </span>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Add Teacher</button>
                    
            </form>
        </div>
    </div>
</div>
{% endblock inner_content %}
    