*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.side_nav {
	background-color: rgb(60, 60, 61);
    height:94vh;
    padding:5px;
}
/* .side_nav{
    background-color: rgb(60, 60, 61);
    height:94vh;
    padding:5px;
} */
.side_nav a{
    color: cyan;
}
.side_nav a:hover{
	color:#e0e0d1;
	background-color:#666666;

}
.admin_main_div{
	position:relative;
}
.admin_drop_down{
	position:absolute;
	right:10px;
	top:55px;

}
.list-group-item{
	background-color:#666666;
	color:#e0e0d1;
	padding:5px;

}
.list-group-item:hover{
	background-color:#808080;
	color:#e0e0d1;
}
.nav-item{
	padding:10px;
	border-bottom:2px solid grey;
}

