

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroller_table{
    overflow-y: scroll;
    height: 720px;
}
#attendance_table{
    overflow-y: scroll;
    height: 600px;
}
#syllabus_scroll{
    overflow-y: scroll;
    height: 650px;
    padding: 20px;
    background-color: cyan;
}
#side_bar{
    background-color: #436689;
}
#side_bar li{
   padding: 10px;
   border-bottom: 2px solid black;
   
}
#side_bar li a {
    padding: 10px;


}
#side_bar li a:hover {
    background-color:#d6d6c2;
}
#wrapper_div{
    height: 750px;
}
/* height: 650px; padding: 20px; overflow-y: scroll; */
#card_body{
    height: 670px;
    padding: 20px;
    overflow-y: scroll;
}

#navbarSupportedContent{
	position: relative;
}
#collapseExample{
	position: absolute;
	top: 20px;
}
