{% extends 'base_action/side_navbar.html' %}



{% block extra_head %}
  
{% endblock extra_head %}
  

{% block sub_top_content %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3" >
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link border" href="{% url 'student_home' %}">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link border" href="{% url 'admission' %}">Admission</a>
        </li>
       
      </ul>
      <form class="form-inline mt-3 my-lg-0" action="" id="search_form">
            <select class="custom-select" name="course" id="course_select">
                <option value="all">All Courses</option>
                
                {% for course in courses %}
                <option value="{{course.Cname}}">{{course}}</option>
                {% endfor %}
                    
                
            </select>
            
        <input class="form-control mr-sm-2" type="search" id="search_field" name="search_value" placeholder="Search by" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


{% block inner_content %}

{% endblock inner_content %}



</div>
{% endblock sub_top_content %}


{% block script %}
  <script src="{% static 'js/student.js' %}"></script>
{% endblock script %}
  